.project-data{
    color: #9ca9f1;
    margin: 10px 10px 10px 0;
}
.project-description-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.project-description{
    color: #9ca9f1;
    margin-top: 10px;
    margin-bottom: 10px;
}