<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{%endblock%}</title>
    {% block head %}{% endblock%}
</head>
<body class="bg-[#12102B] text-white">
<nav class="bg-[#353c63] p-2">
  <ul class="flex justify-around">
    <div class="flex justify-start space-x-3">
    <li class="text-white font-bold"><button><a href='{{url_for("home")}}'>Home</a></button></li>
    <li class="text-white font-bold"><button><a href='{{url_for("todo")}}'>Tasks</a></button></li>
    <li class="text-white font-bold"><button><a href='{{url_for("notifications")}}'>Notifications</a></button></li>
    <li class="text-white font-bold"><button><a href='{{url_for("projects")}}'>Projects</a></button></li>
    <li class="text-white font-bold"><button><a href='{{url_for("friends")}}'>Friends</a></button></li>
    </div>
    <div class="flex justify-end">
    <li class="text-white font-bold"><button><a href='account/me'>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 23" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
    </a></button></li>
    </div>
  </ul>
</nav>
    {% block body%}
    {%endblock%}

    {% if message %}
        <p class="msg">{{message}}</p>
    {% endif%}
</body>
</html>