{% extends 'base.html' %}
{% block title %}Edit Personal Information{% endblock %}
{% block body %}
<div class="flex flex-col items-center m-5 space-y-5">
<h1 class="text-3xl font-extrabold" >Edit Personal Information</h1>
<div class="flex flex-col items-center bg-gray-700 w-[30%] h-50 border border-syan-2 rounded-2xl p-5">
    <form action="{{url_for('edit_user_data')}}" method="POST">
    	<label for='name' class="font-bold ml-3">Name</label>
        <input name="name" type="text" placeholder="First Name" value="{{name}}" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full text-black" required>
        <label for='phone' class="font-bold ml-3">Phone</label><br>
        <input name="phone" type="text" placeholder="Phone Number" value="{{phone}}" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full text-black" required>
        <label for='specialties' class="font-bold ml-3">Specialty</label><br>
        <input name="specialties" type="text" placeholder="specialties" value="{{specialties}}" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full text-black" required>
        <label for='email' class="font-bold ml-3">Email</label><br>
        <input name="email" type="email" placeholder="Email" value="{{email}}" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full text-black" required>
        <label for='year' class="font-bold ml-3">Graduation Year</label><br>
        <input name="year" type="text" placeholder="Graduation Year" value="{{year}}" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full text-black" required>
        <label for='department' class="font-bold ml-3">Department</label><br>
        <select name="department" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full text-black" required>
            <option>Computer Science</option>
            <option>Information Systems</option>
            <option>Business</option>
            <option>Managment</option>
        </select>
        <label for='password' class="font-bold ml-3">Password</label><br>
        <input name="password" type="text" placeholder="Password" value="{{password}}" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full text-black" required>
        <input type="submit" value="Edit" class="flex flex-col items-center space-y-2 rounded-xl p-2 m-2 w-full bg-blue-600 font-bold">
    </form>
</div>
</div>
{% endblock %}